h1 {
	text-align: center;
}

a:visited {
	color: red;
}

body {
	background-color: black;
	color: white;
	font-family: 'Gafata', sans-serif;
	margin: 5em; 
}

p {
	text-indent: 1.5em; 
}

br {
	text-indent: 1.5em; 
}