p {
	font-size: 13px;
	color: blue;
	font-family: Arial;
}

body {
	font-size: 12px;
	font-family:'Revalia', cursive;
}

#A {
	background-color: aqua;
}

.strong {
	font-size: 14px;
}

a:link {
	text-decoration: none; 
}

a:visited {
	color: red;
}

a:hover {
	color: purple;
}

a:active {
	color: green;
}