header {
	width: 100%;
	height: 50px;
	margin: 0 auto;
	padding: 10px;
	border: 2px solid black; 
	font-size: 3em;
	font-weight: 400;
	background-color: orange; 
}


.center {
	text-align: center;
}

.container {
	width: 100%;
	vertical-align: top; 
}


body {
	font-family: 'Gafata', sans-serif;
	font-weight: 100;
	font-size: 1em;
	max-width: 100%;
	background-color: gray; 
}

footer {
	font-weight: 500;
	font-size:1em;
	text-align: center;

}

img {
	height: 100%;
	vertical-align: text-bottom; 
}

#about {
	width: 30%;
	padding: 10px;
	border: 1px solid black;
	font-weight: 400;
	background-color: orange;
	display: inline-block;
	text-align: left;
	vertical-align: text-bottom; 
}

#main_post {
	width: 30%; 
	padding: 10px;
	display: inline-block;
	text-align: center;
}

#music {
	caption-side: top;
	font-weight: 750;
	width: 30%;
	padding: 10px;
	display: inline-block;
	text-align: right;
}

#links {
	float: middle;
	max-width: 15%;
	border: 2px solid black;
	font-weight: 400;
}

a:link {
	text-decoration: none;
}

a:visited {
	color: red;
}

a:hover {
	text-decoration: underline;
}